<template>
  <div>
    <apexchart
      ref="realtimeChart"
      width="500"
      type="line"
      :options="options"
      :series="series"
    ></apexchart>
    <!--  -->
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import { bus } from "../main";
import _ from "lodash";

export default {
  name: "DynamicChart",
  components: {
    apexchart: VueApexCharts,
  },
  data: function () {
    return {
      newValue: "",
      type: "line",
      options: {
        chart: {
          id: "vuechart-example",
          type: this.type,
        },
        xaxis: {
          categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
        },
      },
      series: [
        {
          // type: "column",
          name: "series-1",
          data: [30, 40, 45, 50, 49, 60, 70, 91, 40],
        },
      ],
      chart: "line",
    };
  },
  methods: {
    completed() {
      console.log(this.series[0].data);
      this.series[0].data.push(Number(this.newValue));
    },
  },
  mounted() {
    bus.$on("update series", (data) => {
      console.log("update series called");
      const value = data;
      console.log(value);
      this.$refs.realtimeChart.updateSeries([
        {
          data: value,
        },
      ]);
    });
    bus.$on("update chart from csv", (data) => {
      console.log("update chart from csv");
      const value = { ...data };
        if (value.chart_type == 'line' || value.chart_type == 'area' || value.chart_type == 'bar') {
          this.$refs.realtimeChart.updateSeries([]);
          this.$refs.realtimeChart.updateOptions({});
          this.$refs.realtimeChart.updateOptions({
            chart: {
              type: value.chart_type
            },
            xaxis: {
              type: 'category',
              labels: {
                show: true
              },
              categories: value.x_axis,
            },
          });
          this.$refs.realtimeChart.updateSeries([
            {
              type: value.chart_type,
              data: value.y_axis,
            },
          ]);
        }
        if(value.chart_type == 'radar'){
          this.$refs.realtimeChart.updateSeries([]);
          this.$refs.realtimeChart.updateOptions({});
          this.$refs.realtimeChart.updateOptions({
            xaxis: {
              categories: value.x_axis,
            },
            chart: {
              type: value.chart_type,
            },
          });
          this.$refs.realtimeChart.updateSeries([
            {
              name: 'series-1',
              data: value.y_axis
            }
          ])
        }
        if(value.chart_type == 'pie' || value.chart_type == 'donut' || value.chart_type == 'radialBar'){
          this.$refs.realtimeChart.updateSeries([]);
          this.$refs.realtimeChart.updateOptions({});
          this.$refs.realtimeChart.updateOptions({
            chart: {
              type: value.chart_type
            },
            labels: value.x_axis,
            dataLabels: {
              enabled: true,
            },
          });
          this.$refs.realtimeChart.updateSeries(value.y_axis);
        }
        if(value.chart_type == 'candlestick' || value.chart_type == 'boxPlot'){
          this.$refs.realtimeChart.updateSeries([]);
          this.$refs.realtimeChart.updateOptions({});
          this.$refs.realtimeChart.updateOptions({
            chart: {
              type: value.chart_type
            },
            // x_axis: {
            //   categories: value.x_axis
            // }
          });
          this.$refs.realtimeChart.updateSeries([
            {
              data: [
                {
                  x: "1",
                  y: value.y_axis
                }
              ]
            }
          ]);
        }
        if(value.chart_type == 'heatmap' || value.chart_type == 'treemap'){
          this.$refs.realtimeChart.updateSeries([]);
          this.$refs.realtimeChart.updateOptions({});
          var series = [];
          for(var i = 0; i<value.x_axis.length; i++){
            var new_obj = {
              x: value.x_axis[i],
              y: value.y_axis[i]
            };
            series.push(new_obj);
          }
          this.$refs.realtimeChart.updateOptions({
            chart: {
              type: value.chart_type
            }
          });
          this.$refs.realtimeChart.updateSeries([{
            name: "Series-1",
            data: series
          }]);
          
        }
    });
    bus.$on("send dynamic options", (data) => {
      console.log("send dynamic options called");
      const value = { ...data };
      var op = { ...data };
      console.log("here op", op);
      console.log("dynamic chart options", value);
      if (value.index != null) {
        console.log(value.index);
        value.key = value.key.replace(".${index}", "[" + value.index + "]");
        _.set(op, value.key, value.selected_value);
        this.options = op;
        console.log("send dynamic options", this.options);
      } else {
        // console.log("Index "+value.index);
        _.set(op, value.key, value.selected_value);
        this.options = op;
        console.log("send dynamic options", value);
      }
    });
    bus.$on("change chart Type", (data) => {
      console.log("change chart Type called");
      this.$refs.realtimeChart.updateSeries([]);
      this.$refs.realtimeChart.updateOptions({});

      var opt = { ...data };
      // this.chart = opt.chart;
      this.type = opt.chart;
      this.$chart_type = opt.chart;

      if (opt.series) {
        this.series = opt.series;
      }

      // this.series = data.series;
      // const chart_data = data.data;
      console.log(opt.series);
      this.$refs.realtimeChart.updateSeries(opt.series);
      console.log(opt.options);
      this.$refs.realtimeChart.updateOptions(opt.options);
      window.dispatchEvent(new Event("resize"));
    });
    bus.$on("send uploaded json", (data) => {
      console.log("send uploaded json called");
      // console.log("previous series data", this.series[0].data);
      console.log("data", data);

      if (this.series && this.series[0]) {
        this.series[0].data = data.data;
        this.$refs.realtimeChart.updateSeries(
          [
            {
              data: this.series[0].data,
            },
          ],
          false,
          true
        );
        console.log("new series data", this.series[0].data);
      }
    });
  },
};
</script>

<style scoped>
</style>