<template>
  <div class="outer form">
    <form>
      <div class="form-group row">
        <div class="col-12">
          <div class="row">
            <label class="col-12 col-form-label">Chart Type</label>
            <div class="col-5">
              <select class="form-control" id="positon" v-model="chart_type">
                <option value="line">line</option>
                <option value="bar">bar</option>
                <option value="area">area</option>
                <option value="radar">radar</option>
                <option value="boxPlot">boxPlot</option>
                <option value="pie">pie</option>
                <option value="donut">donut</option>
                <option value="radialBar">radialBar</option>
                <option value="treemap">treemap</option>
                <option value="heatmap">heatmap</option>
                <option value="candlestick">candlestick</option>
              </select>
            </div>
            <div class="col-6">
              <div @click="downloadSample()" class="btn btn-info">
                Download Sample
              </div>
        </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label">Upload File</label>
        <div class="col-8">
          <input
            v-on:change="uploadFile"
            class="form-group btn"
            type="file"
            rel="file"
            accept=".csv"
          />
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { bus } from '../main'

export default {
  name: 'DynamicCSVImport',
  data() {
    return {
      csv_data: null,
      data_type: 'single_value',
      chart_type: 'labels',
    }
  },
  mounted() {},
  methods: {
    uploadFile(event) {
      // let chart_type = this.chart_type
      var file = event.target.files[0]
      const reader = new FileReader()
      reader.onload = function (e) {
        const str = e.target.result;
        var chart_type = str.slice(0, str.indexOf('\n')).split(',');
        const headers = str.slice(str.indexOf('\n') + 1, str.indexOf('\n', str.indexOf('\n') + 1 )).split(',');
        const rows = (str.slice(str.indexOf('\n', str.indexOf('\n') + 1 )).split('\n')).slice(1);
        const arr = rows.map(function (row) {
          const values = row.split(',')
          const el = headers.reduce(function (object, header, index) {
            if(index == 0){
            object[header] = values[index]
            }
            if(index != 0){
            object[header] = parseInt(values[index])
            }
            return object
          }, {})
          return el
        })
        event.target.value = null;
        var entries = Object.entries(arr)
        chart_type = chart_type[1];
        if (headers.length == 2) {
          let x_axis = []
          let y_axis = []
          // console.log(entries)
          entries.forEach((x) => {
            // console.log(Object.entries(x[1])[0][1]);
            if (Object.entries(x[1])[1][1]) {
              x_axis.push(Object.entries(x[1])[0][1])
              y_axis.push(Object.entries(x[1])[1][1])
            }
          })
          let obj = {
            chart_type,
            x_axis,
            y_axis,
          }
          console.log(obj)
          bus.$emit('update chart from csv', obj)
        }
        if (headers.length > 2) {
          let x_axis = []
          let y_axis = []
          entries.forEach((x) => {
            console.log(Object.values(x[1]).splice(0,1));
            if (Object.entries(x[1])[1][1]) {
              x_axis.push(Object.values(x[1]).splice(0,1)[0])
              y_axis.push(Object.values(x[1]).splice(1,2))
            }
          })
          let obj = {
            chart_type,
            x_axis,
            y_axis,
          }
          console.log(obj)
          bus.$emit('update chart from csv', obj)
        }
      }
      reader.readAsText(file)
    },
    downloadSample() {
      
      var csvData = []
      var csv = ''
      if (this.chart_type == 'line' || this.chart_type == 'area' || this.chart_type == 'bar' || this.chart_type == 'boxPlot' || this.chart_type == 'radar' || this.chart_type == 'treemap' || this.chart_type == 'heatmap' || this.chart_type == 'candlestick') {
        csvData = [
          ['month','paid'],
          ['Jan', 90],
          ['Feb', 20],
          ['Mar', 12],
          ['Apr', 54],
          ['May', 76],
          ['Jun', 65],
          ['Jul', 94],
          ['Aug', 94],
          ['Sep', 94],
          ['Oct', 85],
          ['Nov', 12],
          ['Dec', 10],
        ]
        csv = 'chart_type,'+this.chart_type+'\n'
      }
      if (this.chart_type == 'pie' || this.chart_type == 'donut' || this.chart_type == 'radialBar') {
        csvData = [
          ['Name','Quantity'],
          ['Apple', 25],
          ['Mango', 11],
          ['Banana', 54],
          ['Papaya', 72],
          ['Orange', 12],
        ]
        csv = 'chart_type,'+this.chart_type+'\n'
      }

      //merge the data with CSV
      csvData.forEach(function (row) {
        csv += row.join(',')
        csv += '\n'
      })

      //display the created CSV data on the web browser
      // document.write(csv);

      var hiddenElement = document.createElement('a')
      hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv)
      hiddenElement.target = '_blank'

      //provide the name for the CSV file to be downloaded
      hiddenElement.download = this.chart_type+'.csv'
      hiddenElement.click()
    },
    importCsv() {},
  },
}
</script>

<style scoped></style>
